{% extends "base.html" %}
{% block content %}
<form class="input-group" action="/add" method="post">
        <input class="form-control" id="content" name="content" type="text" value="" >
    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Add</button>
    </span>
</form>

<div>
<h2>Todo list</h2>
<table class="table">
    <thead>
        <tr>
            <td>TODO</td>
            <td>TIME</td>
            <td>STATUS</td>
        </tr>
    </thead>

    <tbody>
        {% for do in todos %}
            <tr>
                <td>{{ do.content }} </td>
                <td>
                    {% if do.status %}
                    做了
                    {% else %}
                    未做
                    {% endif %}
                </td>
                <td> {{ do.time }} </td>
            </tr>
        {% endfor %}
    </tbody>

</table>

</div>
{% endblock %}
